Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* Julia
* R

Some of the popular languages that Data Scientiest use are:
1. Python
2. R
3. C++
4. Java
5. Julia

Some of the commonly used librares used by Data Scitntists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. Keras

|Data Science Tools|
|------------------|
| Matplotlib |
| Pandas |
| Jupiter Notebook |
| Python |

Below are few examples of evaluating arithmetic expressions in Python

In [1]:
(3*5)+5

20

In [3]:
#This will convert 200 minut to hours by diving by 60
print("In 200 minuts", 200/60, "hours")

In 200 minuts 3.3333333333333335 hours

## Author
ZhakArt